[defaults]
# 使用するインベントリーファイルのパス
inventory = inventory/inventory.ini
# 管理対象ノード（ターゲット）でAnsibleモジュールを実行する際に使用するPythonインタプリタのパスを指定する設定項目
# インタプリタ：人が書いたプログラムをコンピュータがわかる言語に翻訳して実行すること
# 自動検出するが、警告を出さない。
interpreter_python = auto_silent
# ダウンロードした amazon.aws.aws_ssm を検索しに行くルートをAnsibleに教える(明示的に)
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections