[defaults]
inventory = inventory/inventory.ini
interpreter_python = auto_silent
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
enable_plugins = amazon.aws.aws_ssm
host_key_checking = False

[connection]
pipelining = True